# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Local Netlify folder
.netlify

# Sensitive and Project Files
admin id pass.txt
db details.txt
overall and pending details.xlsx
project progress and overview.txt
improvements.txt
overview and pending details.xlsx
